---
import Image404 from '../assets/404.svg'
import Layout from "../layouts/Layout.astro"

---


<Layout title="404 not found">
    <div class="max-w-4xl m-auto min-h-screen grid place-content-center place-items-center text-center">
        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="/">Vuelve al Inicio</a>
        <h3 class="text-4xl font-black mb-4">Lo sentimos :(
            <br /> Esta dirección no existe para esta página.</h3>
        <img  src={Image404}/>
    </div>
</Layout>
