---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/title.astro';
import ListOfBooks from '../components/listOfBooks.astro';
---

<Layout title="transition between pages.">
	<main class="m-auto max-w-4xl">
		<Title />
		<ListOfBooks />
	</main>
</Layout>


